@import 'tailwindcss';

:root {
  --background: white;
  --foreground: #4c454a;
}

@font-face {
  font-family: 'Gotham-medium';
  src: url('/fonts/gotham_medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gotham-book';
  src: url('/fonts/gotham_book.woff') format('woff');
  font-weight: 400;
  /* font-style: book; */
  font-display: swap;
}
@font-face {
  font-family: 'Gotham-light';
  src: url('/fonts/gotham_light.woff') format('woff');
  font-weight: 400;
  /* font-style: book; */
  font-display: swap;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Primary: var(--font-inter);

  --text-web-title: 3em;
  --text-web-section: 2.5em;
  --text-web-subtitle: 1.3em;
  --text-web-article: 1.1em;
  --text-web-body: 0.8em;

  --text-mobile-title: 1.8em;
  --text-mobile-subtitle: 1em;
  --text-mobile-article: 0.95em;
  --text-mobile-body: 0.875em;

  --text-tablet-title: 2.3em;
  --text-tablet-subtitle: 1.1em;
  --text-tablet-article: 1em;
  --text-tablet-body: 0.975em;

  --color-primary: #4c454a;
  --color-secondary: #e8e0d8;

  --font-book: 'Gotham-book';
  --font-medium: 'Gotham-medium';
  --font-Gotham-light: 'Gotham-light';
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gotham-book', Helvetica, sans-serif;
}
